@import url(../../../styles.css);

body {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.drawer {
  box-sizing: border-box;
  padding: 12px;
  width: 16rem;
  background-color: color;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main__content {
  width: 100%;
  color: white;
}

.main__header {
  height: 2.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--background-color);
  padding: 0 1rem;
  box-sizing: border-box;
  font-size: 1.4rem;
}

#drawer-icon {
  display: none;
}

.line__break {
  background-color: rgb(212, 212, 212);
  width: 100%;
  height: 2px;
  margin: 10px 0;
}

.drawer__header {
  width: 100%;
}

.drawer__section {
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.drawer__item {
  display: flex;
  width: 100%;
  border-radius: 5px;
  height: 2rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding-left: 5px;
  box-sizing: border-box;
}

.drawer__item:hover{
    background-color: rgb(227, 193, 250);
}

.drawer__item--title {
  margin-left: 15px;
}
