:root {
  --hint-of-elusive-blue: #d2dae2;
  --flat-flesh: #fad390;
  --squash-blossom: #f6b93b;
  --iceland-poppy: #fa983a;
  --carrot-orange: #e58e26;
  --melon-melody: #f8c291;
  --mandarin-red: #e55039;
  --tomato-red: #eb2f06;
  --jalapeno-red: #b71540;
  --livid: #6a89cc;
  --azraq-blue: #4a69bd;
  --yue-guang-lan-blue: #1e3799;
  --dark-sapphire: #0c2461;
  --spray: #82ccdd;
  --dupain: #60a3bc;
  --good-samaritan: #3c6382;
  --forest-blues: #0a3d62;
  --paradise-green: #b8e994;
  --aurora-green: #78e08f;
  --water-fall: #38ada9;
  --reef-encounter: #079992;
  --mint-green: #0be881;
  --green-teal: #05c46b;
  --black: #000000;
  --white: #ffffff;
  --hover-gray: #2c2828;
  --background-color: #262d34;
  --dark-background-color: #08111b;
  --blur-background-color: #0000001a;
}

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
