@import url(../../styles.css);

body {
  width: 100vw;
  height: 100vh;
  margin-left: 2rem;
  overflow: hidden;
}

.snackbar__inputchips {
  width: 95%;
  box-sizing: border-box;
}

.inputchips__container {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid var(--jalapeno-red);
  padding: 5px;
  margin-top: 2px;
  max-height: 10rem;
  overflow-y: auto;
  border-radius: 5px;
  width: 100%;
}

#snackbar__input {
  border: none;
  outline: none;
  padding: 5px;
}

.chips__container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.snackbar__item {
  background-color: var(--jalapeno-red);
  display: flex;
  align-items: center;
  color: white;
  padding: 2px 10px;
  border-radius: 20px;
  justify-content: space-between;
}

.snackbar__basic {
  width: 95%;
  box-sizing: border-box;
  display: flex;
  gap: 5px;
}

.snackbar__stacked {
  width: 95%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
