@import url(../../styles.css);
body {
  width: 100vw;
  height: 100vh;
}

.snackbar {
  background-color: var(--background-color);
  color: white;
  width: 30rem;
  padding: 10px;
  border-radius: 5px;
}

.snackbar__baseline {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.snackbar__button {
  background-color: transparent;
  border-radius: 20px;
  color: var(--jalapeno-red);
  outline: none;
  border: none;
  margin-left: auto;
  font-size: 1.3rem;
}

.icon {
  margin-left: 10px;
}

.snackbar__leading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 100px;
  left: 10px;
  right: 0;
  margin-right: auto;
}

.snackbar__stacked {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  position: fixed;
  bottom: 200px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.button__container {
  align-self: end;
}
