@import url(../../styles.css);

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
}

nav {
  width: 100%;
}

.tab {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
}

.tabs {
  display: flex;
  width: 100%;
  justify-content: stretch;
}

[tab-title] {
}

.active[tab-title="#home"] {
  border-bottom: 2px solid var(--tomato-red);
  color: var(--tomato-red);
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}
.active[tab-title="#about"] {
  border-bottom: 2px solid var(--green-teal);
  color: var(--green-teal);
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}
.active[tab-title="#contact"] {
  border-bottom: 2px solid var(--azraq-blue);
  color: var(--azraq-blue);
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

[tab-contents] {
  display: none;
}

.active[tab-contents] {
  display: block;
}

.content {
  width: 100%;
  padding: 2rem;
}
